<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <script src="/scripts/app.js"></script>
    <script src="/scripts/database.js"></script>
    <script src="/scripts/idb.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/socket.js"></script>
    <script src="/scripts/user.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body id="signin-page">
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <div id="message"></div>
                <form onsubmit="edituser()">
                    <div class="form-label-group">
                        <input type="text" id="name" class="form-control" placeholder="<%=user.preference.firstname%>" name="first_name">
                        <label for="name">First Name</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="name2" class="form-control" placeholder="<%=user.preference.familyname%>" name="family_name">
                        <label for="name2">Family Name:</label>
                    </div>
                    <div class="form-label-group">
                        <input id="username" class="form-control" placeholder="<%=user.username%>" name="user_name">
                        <label for="username">Username:</label>
                    </div>
                    <div class="form-label-group">
                        <input id="jobtitle" class="form-control" placeholder="<%=user.preference.jobtitle%>" name="job_title">
                        <label for="jobtitle">Job Title:</label>
                    </div>
                    <div class="form-label-group">
                        <input type="number" class="form-control" id="contactnumber" placeholder="<%=user.preference.contactnumber%>" name="contact_number">
                        <label for="contactnumber">Contact Number:</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Submit">Edit</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>