<html>
<head>
    <% include ./partials/head.ejs %>
    <style>
        @media only screen and (max-width: 600px) {
            nav.navbar{
                position: sticky;
            }
        }
    </style>
    <script src="/scripts/user.js"></script>
</head>
<body>
<% include ./partials/flashs %>
<% include ./partials/navigationbar.ejs %>
<div class="container bootstrap snippets">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="test">
                    <div class="card-body">
                        <div class="h4 text-capitalize"><%=user.username%></div>
                        <div class="h7 text-muted">Job Title: <%=user.preference.jobtitle%></div>
                        <div class="h7">Test</div>
                    </div>
                    <div class="panel-body no-padding rounded">
                        <ul class="list-group no-margin">
                            <li class="list-group-item"><i class="fa fa-envelope mr-5"></i><%=user.email%></li>
                            <li class="list-group-item"><i class="fa fa-globe mr-5"></i> www.bootdey.com</li>
                            <li class="list-group-item"><i class="fa fa-phone mr-5"></i><%=user.preference.contactnumber%></li>
                        </ul>
                    </div><!-- /.panel-body -->
                    <ul class="list-unstyled list-group-item-primary">
                        <div class="btn-group-vertical btn-block">
                            <a href="/users/edit" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit profile</a>
                            <a href="/users/logout" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Logout</a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8">


            <div class="divider"></div>
            <div class="panel rounded shadow">
                <div class="panel-footer">

                </div><!-- /.panel-footer -->
            </div><!-- /.panel -->
            <div class="row">

                <div class="col-md-6">
                    <% user.post.forEach( post => { %>
                    <div class="panel panel-success rounded shadow">
                        <div class="panel-heading no-border">
                            <div class="pull-left half">
                                <div class="media">
                                    <div class="media-body">
                                        <a class="media-heading block mb-0 h4 text-white"><%=user.username %></a>
                                        <span class="text-white h6">Create at <%=post.date %></span>
                                    </div>
                                </div>
                            </div><!-- /.pull-left -->
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <p class="font-weight-normal"> <%=post.content%></p>
                        <p>

                        </p>
                        <div class="clearfix"></div>
                        <div class="panel-footer">
                                <li class="list-group-item"><a href="./post/<%=post._id%>">Edit</a></li>
                        </div><!-- /.panel-footer -->
                    </div><!-- /.panel -->
                    <% }) %>
                </div>

                <div class="col-md-6">
                    <% user.event.forEach( event => { %>
                    <div class="panel panel-success rounded shadow">
                        <div class="panel-heading no-border">
                            <div class="pull-left half">
                                <div class="media">
                                    <div class="media-body">
                                        <a href="#" class="media-heading block mb-0 h4 text-white"><%=user.username %></a>
                                        <span class="text-white h6">Create at <%=event.date %></span>
                                    </div>
                                </div>
                            </div><!-- /.pull-left -->
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body no-padding">
                            <div class="inner-all block">
                                <h4><%=event.title %></h4>
                                <p>
                                    <%=event.description%>
                                </p>
                                <blockquote class="mb-10">Location: <%=event.address%></blockquote>
                            </div><!-- /.inner-all -->
                        </div><!-- /.panel-body -->
                        <div class="panel-footer no-padding no-border">
                            <div class="line no-margin"></div><!-- /.line -->
                            <form action="#" class="form-horizontal inner-all">
                                <div class="form-group has-feedback no-margin">
                                </div>
                            </form><!-- /.form-horizontal -->
                        </div><!-- /.panel-footer -->
                    </div><!-- /.panel -->
                    <% }) %>

                </div>
            </div>
        </div>
    </div>
</div>