
<!DOCTYPE html>
<html lang='en' class=''>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/social.css' />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/scripts/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/database.js"></script>
    <script src="/scripts/idb.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/socket.js"></script>

</head>
<body onload="initMSocial()">
<!--navgationbar in partial file-->
<% include ./partials/navigationbar.ejs %>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="test">
                    <div class="card-body">
                        <div class="h4 text-capitalize"><%=user.username%></div>
                        <div class="h7 text-muted">Job Title: <%=user.preference.jobtitle%></div>
                        <div class="h7">Test</div>
                    </div>
                    <div class="panel-body no-padding rounded">
                        <ul class="list-group no-margin">
                            <li class="list-group-item"><i class="fa fa-envelope mr-5"></i><%=user.email%></li>
                            <li class="list-group-item"><i class="fa fa-globe mr-5"></i> www.bootdey.com</li>
                            <li class="list-group-item"><i class="fa fa-phone mr-5"></i><%=user.preference.contactnumber%></li>
                        </ul>
                    </div><!-- /.panel-body -->
                    <ul class="list-unstyled list-group-item-primary">
                        <div class="btn-group-vertical btn-block">
                            <a href="/users/edit" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit profile</a>
                            <a href="/users/logout" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Logout</a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 gedf-main">
            <% user.post.forEach( post => { %>

            <div class="panel panel-primary rounded shadow">
                <div class="panel-heading panel-danger">
                    <div class="pull-left half">
                        <div class="media">
                            <div class="media-body">
                                <a class="media-heading block mb-0 h4 text-white"><%=user.username %></a>
                                <span class="text-black h6">Created at <%=post.date %></span>
                            </div>
                        </div>
                    </div><!-- /.pull-left -->

                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <p class="font-weight-normal"> Post Info: <%=post.content%></p>
                <p>

                </p>
                <div class="clearfix"></div>
                <div class="panel-footer">
                    <form action="#" class="form-horizontal">

                    </form>
                </div><!-- /.panel-footer -->
            </div><!-- /.panel -->

            <% }) %>
        </div>
        <div class="col-md-3">
            <div class="card-header" style="background-color:#90caf9">
            <% user.event.forEach( event => { %>

            <div class="panel panel-success rounded shadow">
                <div class="panel-heading no-border">
                    <div class="pull-left half">
                        <div class="media">

                            <div class="media-body">
                                <a href="#" class="media-heading block mb-0 h4 text-white"><%=user.username %></a>
                                <span class="text-white h6">Created <%=event.date %></span>
                            </div>
                        </div>
                    </div><!-- /.pull-left -->
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body no-padding">
                    <div class="inner-all block">
                        <h4>Event Name: <%=event.title %></h4>
                        <p>
                            Description: <%=event.description%>
                        </p>

                        <blockquote class="mb-10">Location: <%=event.address%></blockquote>
                    </div><!-- /.inner-all -->

                </div><!-- /.panel-body -->
                <div class="panel-footer no-padding no-border">

                    <div class="line no-margin"></div><!-- /.line -->
                    <form action="#" class="form-horizontal inner-all">
                        <div class="form-group has-feedback no-margin">

                        </div>
                    </form><!-- /.form-horizontal -->
                </div><!-- /.panel-footer -->
            </div><!-- /.panel -->
            <% }) %>
        </div>
    </div>
</div>
</body>
</html>